<!-- <<h2>Welcome to {{ hotelName }}</h2> -->
<hinv-header></hinv-header>
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header> -->
<!-- {{ room$ | async | json}} -->
<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [innerText]="numberOfRooms"
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
  ></div>
</div>

{{ rooms?.availableRooms ?? "No rooms" }}
<!-- {{ roomList | json}} -->
<div *ngIf="selectedRoom">
{{ selectedRoom | json }}
</div>

<div>
  <button routerLink="add" class="btn btn-primary">Add Room</button>
</div>
<!-- Testing out ngOnDestroy  rooms.availableRooms-->
<h2>
  <!-- {{getError$ | async}} -->
  Number of Rooms {{roomsCount$ | async}}
</h2>
<div *ngIf="room$ | async as rooms">
  <hinv-rooms-list
    [rooms]="rooms"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></hinv-rooms-list>
</div>
<button class="btn btn-primary" (click)="toggle()">Toggle</button>
<button class="btn btn-primary" (click)="editRoom()">Edit</button>
<button class="btn btn-primary" (click)="deleteRoom()">Delete</button>

<h1>{{totalBytes}} loaded</h1>
<router-outlet></router-outlet>
